
<div class="container my-3"> 
  <div class="row justify-content-center">
    <div class="col-12 col-sm-4 form-login border border-3 border-primary rounded-3">
      <%= simple_form_for @offer do |f| %>
          <%= f.input :orga %>
          <%= f.input :title %>
          <div class="d-flex justify-content-between align-items-center">
            <%= f.input :email %>
            <%= f.input :phone_number %>
          </div>
          <div class="d-flex justify-content-between align-items-center">
            <%= f.input :content, input_html: { class: 'form-control' }, input_html: { id: 'offer_content' } %>
          </div>
          <%= f.submit 'Post' %>
      <% end %>
    </div>
  </div>
</div>