
<div class="container my-3"> 
  <div class="row justify-content-center">
    <div class="col-12 col-sm-4 form-login border border-3 border-primary rounded-3">
      <%= simple_form_for @offer do |f| %>
          <%= f.input :orga %>
          <%= f.input :title %>
          <%= f.input :email %>
          <%= f.input :phone_number %>
          <%= f.input :content, as: :text, input_html: { class: 'mb-3' }  %>
          <%= f.submit 'Edit'%>
      <% end %>
    </div>
  </div>
</div>